@import "global.scss";

body{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    // background: -webkit-linear-gradient(left, #3a1c71,#d76d77,#ffaf7b);
    background: -webkit-linear-gradient(left,#ef3b36,#870000);
}

h1{
    color: $main-color;
    font-size: 70;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    color: $main-color;
}

.container {
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50rem;
}

#ticketsubmit {
    padding: 0px 25px 25px;
    background: white;
    box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4), 0px 4px 10px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    display: table;
    position: static;
}

#ticketsubmit .header{
    margin-bottom:20px;
}

#ticketsubmit .header p{
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#ticketsubmit .sep {
    height: 1px;
    background: #e8e8e8;
    margin: 0px -25px;
}

input::-webkit-input-placeholder{
    color: #b5b5b5;
}



.form-group {
    padding: 5px;
}

.form-group textarea{
    background: #f5f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    height: 19px;
    width: 95%;
    margin-bottom: 5px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
    font-family: Helvetica, Arial;

}

.form-group textarea:focus {
    background: white;
    box-shadow: 0px 0px 0px 1px black, inset 0px 2px 3px rgba(0,0,0,0.2), 0px 5px 5px rgba(0,0,0,0.15);
    outline:none;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(red),
        to($main-color));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#problemDescription {
    height: 100px;
}

.form-group label {
    color: #8f8f8f;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

.navButton {
    background-color: $main-color;
    color: $text-color;
    border: 2px solid black;
    padding: 4rem;
    margin: 2rem;
    display: inline-block;
}