$main-color: #C00000;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50rem;
}

.navButton {
    background-color: $main-color;
    color: white;
    border: 2px solid black;
    padding: 4rem;
    margin: 2rem;
    display: inline-block;
}

h1 {
    font-size: 70;
    color: $main-color;
}