extends layout

block content
    //h1 Tiquito

    div.container
        form(method='POST' action='/api/create' id="ticketsubmit")
            h3 Create a New Ticket
            p The below form can be used to submit a Tiquito help ticket. At a minimum, the attributes denoted with an asterisk are required to create a ticket.
            
            div.sep

            div.form-group
                label(for='problemTitle') *Problem Title:
                textarea#problemTitle.form-control(type='text', placeholder='Provide a title that sums up your issue' name='problemTitle')
            div.form-group
                label(for='problemDescription') Problem Description:
                textarea#problemDescription.form-control(type='text', placeholder='Provide a description that will help our mentors better understand your issue.' name='problemDescription')
            div.form-group
                label(for='firstName') *First Name:
                textarea#firstName.form-control(type='text', placeholder='Provide your first name' name='firstName')
            div.form-group
                label(for='lastName') Last Name:
                textarea#lastName.form-control(type='text', placeholder='Provide your last name' name='lastName')
            div.form-group
                label(for='contactInfo') Contact Info:
                textarea#contactInfo.form-control(type='text', placeholder='Provide any contact information that you believe will help our mentors reach you' name='contactInfo')
            div.form-group
                label(for='location') *Location:
                textarea#location.form-control(type='text', placeholder='Describe your location at the hackathon' name='location')
            div.form-group
                label(for='pin') *PIN:
                textarea#pin.form-control(type='text', placeholder='Provide a 4 digit PIN for future access to this ticket' name='pin')
            div.form-group
                label(for='tags') Problem Tags:
                textarea#tags.form-control(type='text', placeholder='Provide any tags for your issue seperated by either spaces or comas' name='tags')
            input(type="text", name="redir", value="/list" style="display:none")
            button.btn.btn-primary(type='submit') Submit Ticket

block append head
  link(rel="stylesheet", href="/create.css")